
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a:hover, a:active { outline: 0; }

/*=========================================
	Main Styles
=========================================*/
body {
font-family: arial;
font-size: 15px;
overflow: hidden;
}

h2 {
color: #ffffff;
text-align: center;
font-family: Verdana;
font-size: 54px;
margin-top: 50px;
}

h3 {
color: #ffffff;
text-align: center;
font-family: Verdana;
font-size: 16px;
margin-top: 20px;
}

p {
color: #ffffff;
text-align: center;
font-family: arial;
font-size: 16px;
line-height: 24px;
margin-top: 20px;
}

.contentul {
text-align: center;
font-size: 16px;
line-height: 24px;
color: #ffffff;
}

/*=========================================
	Nav bar
=========================================*/
nav {
height: 48px;
width: 100%;
}

nav ul li {
height: 48px;
width: 33.33%;
text-align: center;
float: left;
}

nav ul li a {
text-decoration: none;
color: #ffffff;
line-height: 50px;
display: block;
}

/*=========================================
	Nav links
=========================================*/
#link1 {
background: #EDEDED;
}

#link2 {
background: #EDEDED;
}

#link3 {
background: #EDEDED;
}




/*=========================================
	Styling each section
=========================================*/
.box {
float: left;
}

#box1 {
background: #EDEDED;
}

#box2 {
background: url(../img/pattern.png) repeat left top, url(../img/gradient.png) no-repeat left top;
background-size: auto auto, 100% 100%;
}

#box3 {
background:#32373d;
}
