/* ----------------------------------
 * TIME SELECTOR
 * ---------------------------------- */

/* Main dialog setup */
form[role="dialog"] {
  background: url(../img/confirm/ui/pattern.png) repeat left top, url(../img/confirm/ui/gradient.png) no-repeat left top;
  background-size: auto auto, 100% 100%;
  /* We can't use shortand with background size because is not implemented yet:
  https://bugzilla.mozilla.org/show_bug.cgi?id=570326; */
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem 0 7rem;
  font-family: "Open Sans", Sans-serif;
  font-size: 0;
  white-space: nowrap;
  /* Using font-size: 0; we avoid the unwanted visual space (about 3px)
  created by white-spaces and break lines in the code betewen inline-block elements */
  color: #fff;
}

form[role="dialog"]:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
  margin-left: -1px;
}

form[role="dialog"] > section {
  margin: 0 2.5rem;
  -moz-box-sizing: padding-box;
  width: calc(100% - 5rem);
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

form[role="dialog"] h1 {
  font: 1.6rem/1em 'Open Sans', Sans-serif;
  color: #fff;
  border-bottom: 0.1rem solid #616262;
  background: url(value_selector/images/ui/alpha.png) repeat 0 0;
  margin: 0 -1.5rem;
  padding: 2rem 3rem 0 3rem;
  height: 5rem;
  -moz-box-sizing: border-box;
}

form[role="dialog"] h1:after {
  content: '';
  position: absolute;
  width: 100%;
  background: #222323;
  height: 0.1rem;
  left: 0;
  top: 5rem;
}

/* MENU & BUTTONS SETUP */
form[role="dialog"] menu {
  white-space: nowrap;
  margin: 0;
  padding: 1.5rem;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  background: #2d2d2d url(../img/time_selector/ui/pattern.png) repeat left top;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

form[role="dialog"] menu button {
  width: 100%;
  height: 3.8rem;
  margin: 0 0 1rem;
  padding: 0 1.5rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #fafafa url(../img/time_selector/ui/default.png) repeat-x left bottom;
  border: 0.1rem solid #9f9f9f;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 600;
  line-height: 3.8rem;
  color: #333;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
  text-decoration: none;
  outline: none;
}

/* Press (default & recommend) */
form[role="dialog"] menu button:active,
form[role="dialog"] menu button.recommend:active {
  border-color: #008aaa;
  background: #008aaa;
  color: #333;
}

/* Recommend */
form[role="dialog"] menu button.recommend{
  background-image: url(../img/time_selector/ui/recommend.png);
  background-color: #00caf2;
  border-color: #00acce;
}

/* Danger */
form[role="dialog"] menu button.danger{
  background-image: url(../img/time_selector/ui/danger.png);
  background-color: #b70404;
  color: #fff;
  text-shadow: -0.1rem -0.1rem 0 #830b0b;
  border: none;
}

/* Danger Press */
form[role="dialog"] menu button.danger:active{
  background-image: url(../img/time_selector/ui/danger-press.png);
  background-color: #890707;
}

/* Disabled (default & recommend) */
form[role="dialog"] menu button[disabled],
form[role="dialog"] menu button[disabled].recommend {
  background-image: url(../img/time_selector/ui/disabled.png);
  background-color: transparent;
  border: none;
  color: #bcbcbc;
  text-shadow: none;
  pointer-events: none;
}

/* Danger disabled */
form[role="dialog"] menu button[disabled].danger {
  background-image: url(../img/time_selector/ui/danger-disabled.png);
  color: #fff;
  text-shadow: none;
  pointer-events: none;
}

form[role="dialog"] menu button:last-child {
  margin-left: 1rem;
}

form[role="dialog"] menu button,
form[role="dialog"] menu button:first-child {
  margin: 0;
}

form[role="dialog"] menu button {
  width: -moz-calc((100% - 1rem) / 2);
}

form[role="dialog"] menu button.full {
  width: 100%;
}

/* SPECIFIC COMPONENT CODE */
form[role="dialog"] h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

form[role="dialog"] [role="spinbutton"] {
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  height: 22.5rem;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

form[role="dialog"] [role="spinbutton"]:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  pointer-events: none;
  background: url(../img/time_selector/ui/shadow.png) repeat-x left top padding-box, url(../img/time_selector/ui/shadow-invert.png) repeat-x left bottom;
}

form[role="dialog"] [role="spinbutton"] > p {
  background: #00A5C5 no-repeat center center;
  height: 4.6rem;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 50%;
  right: 0;
  z-index: 5;
  margin: -2.3rem 0 0;
  pointer-events: none;
}

form[role="dialog"] [role="spinbutton"] > p span {
  width: -moz-calc(100% / 3);
  background: transparent no-repeat 55% 47%;
  background-size: 160% auto;
  margin: -9rem 0;
  padding: 9rem 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  height: 100%;
}

form[role="dialog"] [role="spinbutton"] > div {
  width: -moz-calc((100% / 3) - 1px);
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  height: 100%;
  border-right: solid 1px #666;
  border-left: solid 1px #000;
}

form[role="dialog"] [role="spinbutton"] [role="listbox"] {
  position: relative;
  overflow: auto;
  margin: 0 -0.8rem 0 -1rem;
  padding: 0;
  max-height: 100%;
}

form[role="dialog"] [role="spinbutton"] [role="listbox"] li {
  margin: 0;
  padding-bottom: 1px;
  list-style: none;
  position: relative;
  color: #fff;
  font-family: 'Open Sans', Sans-serif;
  font-weight: lighter;
  font-size: 2.2rem;
  color: #fff;
  transition: background 0.2s ease;
  height: 4.6rem;
  line-height: 4.6rem;
}

form[role="dialog"] [role="spinbutton"] [role="listbox"] li:active {
  background: #00ABCC;
  color: #fff!important;
}

form[role="dialog"] [role="spinbutton"] [role="listbox"] li a {
  text-indent: 0.5rem;
  outline: none;
  text-decoration: none;
  display: block;
  color: #fff;
}

form[role="dialog"] [role="spinbutton"] li:first-child {
  margin-top: 9rem;
}

form[role="dialog"] [role="spinbutton"] li:last-child {
  margin-bottom: 9rem;
}

form[role="dialog"] [role="spinbutton"] div:first-of-type {
  border-left: none;
}

form[role="dialog"] [role="spinbutton"] .mode {
  border-right: none;
  background: url(../img/time_selector/ui/pattern.png) repeat left top;
}
